<template>
  <div class="page-home">
    <location />
  </div>
</template>

<script>
// @ is an alias to /src
import Location from "@/components/Location.vue";

export default {
  name: "home",
  components: {
    Location
  }
};
</script>

<style lang="scss">
.page-home {
  height: 100%;
}
</style>
