<template>
  <div class="page-info">
    <location-info />
  </div>
</template>

<script>
// @ is an alias to /src
import LocationInfo from "@/components/LocationInfo.vue";

export default {
  name: "info",
  components: {
    LocationInfo
  }
};
</script>
