<template>
  <div class="location">
    <gmap-map
      :options="{ streetViewControl: false, fullscreenControl: false }"
      :center="center"
      :zoom="zoomLevel"
      style="height: 100%;"
    >
      <navigation-marker :position="center" :heading="heading"/>
    </gmap-map>
    <v-fab-transition>
      <v-btn
        class="button-watch"
        @click="toggleWatchPosition"
        color="green"
        fab
        large
        dark
        bottom
        left
      >
        <v-icon>{{ iconMarker }}</v-icon>
      </v-btn>
    </v-fab-transition>
  </div>
</template>

<script>
import { mdiCrosshairsGps } from "@mdi/js";
import { mdiStop } from "@mdi/js";
import { mapGetters } from "vuex";
import { mapActions } from "vuex";
import navigationMarker from '@/components/NavigationMarker.vue';

export default {
  name: "Location",
  components: { navigationMarker },
  computed: {
    ...mapGetters({
      userLocation: "geolocation/userLocation"
    }),
    center() {
      if (this.userLocation) {
        return {
          lat: this.userLocation.latitude,
          lng: this.userLocation.longitude
        };
      } else {
        return this.$store.state.map.center;
      }
    },
    zoomLevel() {
      return this.$store.state.map.zoomLevel;
    },
    isWatching() {
      return this.$store.state.geolocation.isWatching;
    },
    heading() {
      return this.$store.state.geolocation.userMovementHeading;
    },
    iconMarker() {
      return this.isWatching ? mdiStop : mdiCrosshairsGps;
    }
  },
  created() {
    this.getCurrentPosition();
  },
  methods: {
    ...mapActions({
      toggleWatchPosition: "geolocation/toggleWatchPosition",
      getCurrentPosition: "geolocation/getCurrentPosition"
    })
  }
};
</script>

<style lang="scss">
.location {
  width: 100%;
  height: 100%;
}

.button-watch {
  bottom: 0;
  position: fixed;
  margin: 0 0 64px 36px;
}
</style>
