<template>
  <div class="location-info">
    <pre class="data">{{locationData}}</pre>
  </div>
</template>

<script>
export default {
  name: "LocationInfo",
  data() {
    return {
      locationData: {}
    }
  },
  mounted() {
    this.geolocate();
  },
  methods: {
    geolocate: function() {
      navigator.geolocation.getCurrentPosition(this.geolocateSuccess, this.geolocateError);
    },
    geolocateSuccess(position) {
      this.locationData = position;
    },
    geolocateError() {
      if (!navigator.geolocation) {
        this.locationData = "Geolocation is not supported by your browser";
      } else {
        this.geolocate(this.geolocateSuccess, this.geolocateError);
      }
    }
  }
};
</script>

<style lang="scss">
.location-info {
  padding: 30px 15px;
}

.data {
  padding: 10px;
  color: dodgerblue;
  background: lightcyan;
}
</style>
