<template>
  <gmap-custom-marker 
    :marker="position" 
    :clickable="false"
  >
    <img :style="headingStyle" src="img/navigation-icon.svg">
  </gmap-custom-marker>
</template>

<script>
import GmapCustomMarker from 'vue2-gmap-custom-marker';

export default {
  name: 'NavigationMarker',
  props: {
    position: {
      type: Object,
      required: true
    },
    heading: {
      type: Number,
      default: 0
    }
  },
  components: {
    GmapCustomMarker
  },
  computed: {
    headingStyle() {
      let heading = this.heading ? this.heading : 0;
      return { transform: `rotate(${heading}deg)` }
    } 
  }
}
</script>
