<template>
  <v-app>
    <v-app-bar
      app
      color="indigo"
      dark
      :clipped-left="true"
    >
      <v-app-bar-nav-icon />
      <v-toolbar-title>geolocation-tracker</v-toolbar-title>
    </v-app-bar>

    <v-content>
      <router-view></router-view>
    </v-content>

    <v-footer
      :inset="true"
      color="indigo"
      app
    >
      <span class="white--text">Entries: {{userLocationEntriesCount}} / Accuracy: {{accuracy}} / Speed: {{speed}} / Heading: {{heading}}</span>
    </v-footer>
  </v-app>
</template>

<script>
import { mapGetters } from "vuex";  
export default {
  computed: {
    ...mapGetters({
      userLocationEntriesCount: "geolocation/userLocationEntriesCount"
    }),
    accuracy() {
      return this.$store.state.geolocation.userMovementAccuracy;
    },
    speed() {
      return this.$store.state.geolocation.userMovementSpeed;
    },
    heading() {
      return this.$store.state.geolocation.userMovementHeading;
    }
  }
}

</script>
<style>
body {
  margin: 0;
  padding: 0;
}
</style>
